body {
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* #region header */

.header {
}

.header .container {
  display: flex;
  justify-content: space-between;
}
.header-wrap {
  display: flex;
}

.logo {
}

.nav {
}

.nav-list {
  display: flex;
  gap: 28px;
  margin-right: 30px;
  margin-left: auto;
}

.nav-list-item {
}

.nav-item-link {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
  padding: 28px 0;
  display: block;
}

.nav-button {
  border-radius: 30px;
  padding: 6px 17px;
  background: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  display: inline-block;
  border: none;
  margin: 20px 0;
}

/* #endregion  */

/* #region hero */
.section {
}
.hero-section {
  width: 1248px;
}
.hero-section-box- {
  display: flex;
  justify-content: space-between;
}
.hero-first-box {
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 28px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  max-width: 511px;
  margin-bottom: 40px;
}
.hero-button {
  border-radius: 30px;
  padding: 6px 17px;
  background: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  display: inline-block;
  border: none;
  width: 98px;
}
.hero-images {
  border-radius: 269px;
  width: 528px;
  height: 528px;
  background: url('path_to_image');
}
/* #endregion hero */

/* #region offerings */
.offerings-container {
}
.offerings-section {
  display: flex;
}
.offerings-section-first {
}
.offerings-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;
}
.offerings-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}
.offerings-section-second {
}
.offerings-list {
}
.offerings-item {
}
.icon {
}
.offerings-subtitle {
}
.offerings-text-subtitle {
}
.offerings-button {
}
/* #endregion offerings */

/*  #region favorites  */
.favorites-section {
}
.favorites-title {
}
.favorites-text {
}
.favorites-list {
}
.favorites-item {
}
/*  #endregion favorites  */
.favorites-section {
}
.favorites-title {
}
.favorites-text {
}
.favorites-list {
}
.favorites-item {
}
/*  #region feedback  */
.feedback-section {
}
.feedback-title {
}
.feedbacktext {
}
.feedback-list {
}
.feedback-item {
}
/*  #endregion feedback  */
/*  #region subscription  */
.subscription-section {
}
.subscription-title {
}
.subscription-text {
}
.subscription-button {
}
/*  #endregion subscription  */
/*  #region footer  */
.footer {
}
.footer-first {
}
.footer-list-first {
}
.list-first-item {
}
.footer-list-second {
}
.list-second-item {
}
/*  #endregion footer  */

.beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 99, 99, 0.7);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  border-radius: 30px;
  width: 458px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background: #ffe550;
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-btn {
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 20px;
}
.modal-form-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.modal-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #2c2c2c;
  display: block;
  margin-bottom: 2px;
  margin-left: 12px;
}
.modal-input {
  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
  width: 100%;
  height: 48px;
  padding-left: 12px;
  outline: transparent;
}
.modal-input:focus {
  border-color: #455b0f;
}

.modal-send-btn {
  border: 2px solid #7eb101;
  border-radius: 30px;
  min-width: 106px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  margin: 0 auto;
  display: block;
}
